.App {
  text-align: center;
  background: rgb(36,1,0);
background: linear-gradient(90deg, rgba(36,1,0,1) 0%, rgba(238,64,1,0.8379726890756303) 30%, rgba(219,255,0,1) 100%);
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



